/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
} */

.eventpage-bigbox {
    width: 1920px;
    height: 3280px;
    border: 1px solid #333;
}

/* ✅ 썸머 페스타 */
.vintage-section {
    background-color: #f2f2f2;
    width: 1920px;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vt-textbox {
    background-color: white;
    width: 1200px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 20px;
    border: 1px solid #333;
    overflow: hidden;
}

.vt-text {
    /* 썸머페스타 텍스트 */
    width: 50%;
    padding: 50px 30px;
    color: #333;
    text-align: left;
    box-sizing: border-box;
}

.vt-imgbox {
    width: 80%;
    background-color: thistle;
    border-left: 1px solid #333;
}

/* ✅ 최대 50% 할인 쿠폰 */
.coupon-section {
    background-color: #aaa396;
    width: 1920px;
    height: 1080px;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #333;
    display: block;
}

.cp-banner {
    /* 할인 쿠폰에 포인트까지! 배너 */
    border: #333 1px;
    background-color: #b19a7a;
    width: 1920px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.cp-title,
.at-title {
    font-size: 40px;
    color: #333;
    text-align: center;
    margin: 0px;
}

.cp-items {
    width: 1920px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: 1px solid #333;
}

.cpbtn-wrapper {
    display: block;
    justify-items: center;
    align-items: center;
    text-align: center;
    border: 1px solid #333;
    margin-top: 20px;
    margin-bottom: 30px;
}

.cp-button {
    display: inline-block;
    text-align: center;
    background-color: #584738;
    color: #fff;
    padding: 16px 24px;
    border-radius: 30px;
}

/* ✅ 출석체크 */
.attendance-section {
    background-color: #fafafa;
    width: 1920px;
    height: 1080px;
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px solid #333;
}

.at-boxline {
    border: #333 1px solid;
    border-radius: 20px;
    background-color: white;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.at-textbox {
    border: #333 1px solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #b19a7a;
    width: 1000px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 120px;
}

.at-daybox {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr); /* 3칸 만들기 */
}

.at-day {
    background-color: #b19a7a;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    gap: 20x;
}

.at-button {
    display: inline-block;
    text-align: center;
    background-color: #584738;
    color: #fff;
    padding: 16px 24px;
    border-radius: 30px;
    margin-top: 40px;
}

.cp-title h6,
.at-title h6 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.cp-title h3,
.at-title h3 {
    margin: 4px 0 20px 0;
    font-size: 40px;
    color: #333;
}

/*✅ 할인 추천 상품 */
.discount-section {
    width: 1920px;
    height: 1080px;
    border: 1px solid #333;
    background-color: #f1eada;
    display: flex;
    flex-direction: column;
}

.dc-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border: #333 1px solid;
    width: 1920px;
    height: 70px;
    background-color: #aaa396;
    color: #333;
    text-align: center;
}

/* 할인 추천상품 텍스트 */
.dc-h3 {
    position: relative;
    top: 60px;
    left: 100px;
    color: #333;
    font-size: 40px;
    text-align: left;
}

.dc-item-group {
    /* 할인상품 그룹 */
    display: flex;
    gap: 12px;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    top: 160px;
}

.dc-item2-group {
    display: flex;
}

.dc-btn-group {
    /* 가구..버튼 그룹*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 80px;
    gap: 30px;
}

.dc-furniture-btn,
.dc-kitchen-btn,
.dc-obj-btn {
    /* 개별버튼(가구..) */
    background-color: #584738;
    color: #fff;
    padding: 16px 24px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    display: inline-block;
}

.dc-item-box > img {
    /* 아이템박스(큰거)+이미지 */
    width: 600px;
    height: 620px;
    border: 1px solid #333;
    background-color: #aaa396;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}

.dc-item2-box > img {
    /* 아이템박스(작은거)+이미지 */
    width: 300px;
    height: 320px;
    border: 1px solid #333;
    background-color: #aaa396;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    position: relative;
    top: 150px;
}
