.mainbox {                                       /*메인 틀*/                
  width: 1920px;
  height: 900px;
  border: 1px solid #333;
  background-color: #AAA396;
}

.main-imgbox {                                  /*메인이미지 틀*/                     
  width: 1920px;
  height: 900px;
  border: 1px solid #333;
  position: relative;
}

.main-img {                                     /*메인이미지*/                     
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-text {                                     /*메인 텍스트*/                      
  position: absolute;
  top: 60%;
  left: 80px;
  color: #fff;
  font-size: 50px;
  text-align: left;
}

.main-text2box {
  background-color: #584738;    
  color: #fff;               
  padding: 16px 24px;            
  border-radius: 30px;          
  font-size: 18px;
  display: inline-block;         
  position: absolute;
  top: 80%;
  left: 80px;
  text-align: left;
}