.card-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px;
  width: 800px;
}

.no-orders {
  text-align: center;
  padding: 40px 0;
  font-size: 18px;
  font-weight: bold;
  color: #777;
}

.order-card {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.card-header {
  display: flex;
  justify-content:space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.left-header {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.order-line {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.4;
}

.order-date {
  font-weight: bold;
  margin: 0;
}

.delivery-status {
  margin: 0px;
  color: #0066cc;
}

.right-header {
  margin-left: auto;
}

.detail-link {
  font-size: 14px;
  color: #0077cc;
  text-decoration: none;
  white-space: nowrap;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.product-info {
  display: flex;
  gap: 16px;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.product-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.product-details {
  flex: 1;
}

.product-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
  margin-left: 30px;
  text-align: start;
}

.card-footer {
  margin-top: 16px;
}

.detail-link {
  display: block;
  margin-bottom: 8px;
  color: #0077cc;
  text-decoration: none;
}

.card-buttons button {
  margin-right: 8px;
  padding: 6px 12px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.card-buttons button:hover {
  background-color: #e0e0e0;
}
