.Am-Main {
  height: 1000px;
  display: flex;
  flex-direction: column; /* 세로로 정렬 */
  align-items: flex-start;
}
.Am-All {
  width: 90%;

  margin-left: 100px;
}

.Am-Text {
  position: relative;
  color: #333;
  font-size: 40px;
  text-align: left;
}

.Am-Box {
  width: 100%;
  display: flex;
  gap: 100px;
}
.Am-Box_QnA1 {
  height: auto;
  width: 1000px;
  border-radius: 70px;
}
.Am-Box_QnA2 {

  height: 480px;
  width: 500px;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 1%;
  padding-bottom: 2%;
  border-radius: 70px;

  gap: 70px;
}
.Am-QnA2_map{
    margin-top: 30px;
    margin-left: 20px; 
  display: flex;
  flex-direction: row;
}
.Am-QnA2_map_ping{
    margin-top: 20px;
    width: 80px;
    height: 80px;
    margin-right: 10px
}
.Am-QnA2_map_ping img {
  width: 100%; /* div의 크기에 맞게 이미지 크기 조정 */
  height: 100%; /* div의 크기에 맞게 이미지 크기 조정 */
}

.Am-QnA2 {
  height: auto;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
  line-height: 0.1; /* 줄 간격을 1.3배로 설정 */
  align-items: flex-start;
  padding-bottom: 3%;
  margin-top: -50px;
}
.Am-QnA2 h3 {
  width: 100px; /* 가로 크기 설정 */
  height: 50px; /* 세로 크기 설정 */
  border-radius: 25px; /* 둥근 모서리 설정 */
  background-color: #584738; /* 색상 설정 (갈색 계열) */
  text-align: center; /* 텍스트 가운데 정렬 */
  line-height: 50px; /* 텍스트가 세로로 중앙 정렬되도록 */
  color: white; /* 텍스트 색상 흰색 */
}

.Am-QnA3 {
  height: auto;
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
  line-height: 0.1; /* 줄 간격을 1.3배로 설정 */
  align-items: flex-start;
  padding-left: 5%;
  padding-bottom: 3%;
  margin-top: -50px;
}
.Am-QnA3 h3 {
  width: 250px; /* 가로 크기 설정 */
  height: 50px; /* 세로 크기 설정 */
  border-radius: 10px; /* 둥근 모서리 설정 */
  text-align: center; /* 텍스트 가운데 정렬 */
  line-height: 50px; /* 텍스트가 세로로 중앙 정렬되도록 */
}
