body {
  margin-top: 200px;
}
.Product_Top {
  margin-top: -110px;
  background: #f1eada;
  padding: 20px;
  font-family: sans-serif;
  display: flex;
  width: 1881px;
  justify-content: center;
}

.Product_Box {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: 800px;
}

.Product_Image {
  width: 600px;
  height: 600px;
  text-align: center;
  line-height: 150px;
}

.Product_Scroll {
  display: flex;
  gap: 50px;
  margin: 20px;
  justify-content: center; /* 가로축(주축) 가운데 정렬 */
  align-items: center; /* 세로축(교차축) 가운데 정렬 */

  width: auto;
  height: auto;
}
.Thumb_Button {
  width: 50px;
  height: 50px;
  font-size: 30px;
}
.Thumb {
  width: 100px;
  height: 100px;
  font-size: 40px;
}
/* -------------------------------------------------------*/
.Product_Info {
  flex: 1;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
  align-items: center; /* 가로축 중앙 */
}

.Product_Name {
  width: 600px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}

.Product_Price_Box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Product_Price {
  width: 600px;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
}

.Product_Quantity {
  display: flex;
  align-items: center;
  font-size: 40px;
  gap: 350px;
  text-indent: 10px;
}
.Product_Quantity_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.Product_Quantity_buttons button {
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Product_Quantity_buttons span {
  display: flex;
  gap: 10px;
}
/* -------------------------------------------------------*/
.Product_Buttons {
  display: flex;
  gap: 10px;
}
.Product_Buttons button {
  width: 300px;
  height: 100px;
  font-size: 40px;
  background-color: #584738;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}

.Product_Buttons Button {
  padding: 5px 10px;
  cursor: pointer;
}
/* 쿠폰 및 상세페이지 */
.Product_DetailPage {
  width: 1920px;
  background: #f1eada;
  display: flex;
  justify-content: center; /* 가로 가운데 */
  flex-direction: column; /* 세로로 정렬 */
  align-items: center; /* 세로 가운데 */
  font-size: 50px;
}

.Product_Coupon {
  background-color: rgba(163, 111, 32, 0.404);
  height: 80px;
  width: 1920px;
  display: flex;
  justify-content: center; /* 가로 가운데 */
  align-items: center; /* 가로축 중앙 */
  flex-direction: column; /* 세로로 정렬 */
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 3px solid black;
}
.Product_Coupon_Button {
  height: 80px;
  width: 1920px;
  text-align: center;
  font-size: 40px;
}

.Product_Detail {
  height: auto;
  width: 1600px;
  display: flex;
  justify-content: center;
  background: white;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 40px; /* div 밑에 16px 간격 */
  background-color: transparent;
  text-align: center;
}
