/* ✅ 장바구니 상단 전체선택 영역 */
.cart-Main {
  margin-top: -120px;
  height: 100%;
  overflow: visible;
}
.className:cart {
  margin-top: -100px;
}
.choiceBox {
  width: 800px;
  display: flex;

  gap: 10px;
  padding: 10px;
  align-items: center;
  margin: 30px;
  border-radius: 20px;
  background-color: white;
}
.TotalDel_btn {
  width: 100px;
  height: 30px;
  border: none;
  background-color: #584738;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13px;
}
.del_btn {
  width: 60px;
  height: 30px;
  border: none;
  background-color: #584738;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13px;
}

.choiceBox form {
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center;
}

.choiceBox button {
  margin-left: auto; /* 선택삭제 버튼 오른쪽 정렬 */
  display: flex;
}

/* ✅ 장바구니 목록 아이템 전체 박스 */
.cartList {
  width: 760px;
  margin: 30px;
  padding: 10px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  padding-left: 50px;
}
/* 장바구니 상품 이름 */
.Product-input {
  width: 70%;
  height: 20px;
  border: none;
}

/* 장바구니 수량  */
.Quantity-input {
  width: 8%;
  height: 20px;
  border: none;
}

/* 장바구니 가격 */
.Amount-input {
  width: 15%;
  height: 20px;
  border: none;
}

/* ✅ 주문 예상 금액 박스 */
.purchaseBox {
  position: sticky;
  bottom: 0;
  z-index: 1000;

  width: 800px;
  margin: 30px;
  padding: 10px;
  gap: 10px;
  background-color: white;
  border-radius: 20px;
}

.purchaseBox form {
  display: flex;
  padding-bottom: 20px;

  justify-content: center;
}

.small-input {
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
  width: auto;
  height: 30px;
  text-align: center;
  border: none;
}

.confirmBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Buy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 300px;
  width: 200px;
  height: 30px;
  color: white;
  background-color: #584738;
  border-radius: 30px;
  font-size: 13px;
}

.rightBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
