/* ✅ 장바구니 상단 전체선택 영역 */
.cart-Main{
  margin-top: -120px;
height: 1000px;
}
.className:cart{
  margin-top: -100px;
}
.choiceBox {
    width: 800px;
    display: flex;
    border: 1px solid #000;
    gap: 10px;
    padding: 10px;
    align-items: center;
    margin: 30px;
}

.choiceBox form {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.choiceBox button {
    margin-left: auto; /* 선택삭제 버튼 오른쪽 정렬 */
}

/* ✅ 장바구니 목록 아이템 전체 박스 */
.cartList {
    border: 1px solid #000;
    width: 800px;
    margin: 30px;
    padding: 10px;
    gap: 10px;
    display: flex;
}
/* 장바구니 상품 이름 */
.Product-input{
  width: 70%;
  height: 20px
}

/* 장바구니 수량  */
.Quantity-input{
  width: 4%;
  height: 20px
}


/* 장바구니 가격 */
.Amount-input{
  width: 15%;
  height: 20px
}





/* ✅ 주문 예상 금액 박스 */
.purchaseBox {
    position: sticky;
    bottom: 0;
    z-index: 1000;
    border: 1px solid #000;
    width: 800px;
    margin: 30px;
    padding: 10px;
    gap: 10px;
    background-color: white;
}

.purchaseBox form {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}

.small-input {
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    width: auto;
    height: 30px;
}

.confirmBox {
    display: flex;
}
