.cart_popup-modal {
    /*✅ 팝업 큰 틀 */
    background: #cec1ab;
    padding: 30px;
    border-radius: 12px;
    width: 450px;
    height: 320px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.cart_popup_subject {
    font-weight: bolder;
    font-size: 25px;
}

.cart_popup_content {
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 30px;
    text-align: left;
}

.cart_close_button {
    align-items: end;
    border-radius: 20px;
    background-color: #584738;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 20px;
}
