.scrollbar-ds-container {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  margin-left: 200px;
  margin-top: 170px;
}

.scrollbar-ds-content {
  display: inline-flex;
  gap: 20px;
  align-items: center;
  width: 1530px;
  height: 600px;
}

/* 스크롤바 작게 만들기 */
.scrollbar-ds-container::-webkit-scrollbar {
  height: 12px; /* 스크롤바 두께 */
}

.scrollbar-ds-container::-webkit-scrollbar-track {
  background: #aaa396;
  border-radius: 10px;
}

.scrollbar-ds-container::-webkit-scrollbar-thumb {
  background-color: #584738;
  border-radius: 10px;
}
