.footer_BigBox {
  border: 1px solid black; /* 🔴 테두리 */
  padding: 20px;
  color: black;
  width: 75.4%;
  height: 400px;
  width: 1881px;
  background-color: #584738;
  color: white;
}
.footer_BigBox_2 {
  display: flex;
  height: 150px;
}
.footer_BigBox_left {
  height: 160px;
  margin-left: 100px;
  margin-top: 150px;
  min-width: 300px;
  text-align: center;
}
.footer_BigBox_right {
  display: flex; /* flex로 정렬 (가로 정렬 시작) */
  justify-content: center; /* 가로 방향 가운데 정렬 */
  align-items: center; /* 세로 방향 가운데 정렬 */
  width: 80000px; /* 가로 너비 1000px */
  gap: 300px;
}
.footer_BigBox_right_inner_center {
  width: 100%;
  height: 250px;
  display: flex; /* 🔴 플렉스박스 켜기 */
  flex-direction: column; /* 🔴 세로 방향 정렬 */
  align-items: center; /* 🔴 세로 방향 가운데 정렬 */
}
.footer_BigBox_right_inner_center h4 {
  margin: 8px; /* 🔴 위아래 여백 줄이기 */
  line-height: 1; /* 🔴 줄간격 최소로 */
}
.footer_BigBox_right_button {
  font-size: 30px;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}
.footer_BigBox_right_button:focus {
  outline: none; /* 포커스 시 외곽선 제거 */
  box-shadow: none; /* 포커스 시 생기는 그림자 제거 */
  border: none; /* 포커스 시 테두리 제거 */
}